@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.modal {
  .modal-dialog {
    margin-top: 8vh;
  }

  .modal-content {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    position: relative;
  }

  .modal-header {
    border-bottom: none;
    padding: 3rem 3rem 0 3rem;
    justify-content: center;
  }

  .modal-body {
    padding: 3rem;
  }

  .modal-close {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.modal-backdrop {
  background-color: $gray-100;

  &.show {
    opacity: 0.96;
  }
}

@include media-breakpoint-down(xs) {
  .modal {
    .modal-dialog {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-top: 15vh;
    }
  }
}
