@import '../../../../styles/variables.scss';

.popover {
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 1px $gray-600, 0 2px 8px rgba(0, 0, 0, 0.08);
  left: -10000px;
  top: -10000px;
  max-width: none;

  &.d-none {
    z-index: -1;
  }

  &.show {
    left: 0;
    top: 0;
    z-index: $zindex-dropdown;
  }
}
