<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8" />
<title>
  <%- title %>
</title>
<meta name="description" content="Tecton" />

<!-- IE
__________________________________________________ -->
<meta http-equiv="x-ua-compatible" content="ie=edge" />

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta
  name="viewport"
  content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no, user-scalable=no"
/>

<!-- Social Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- Twitter Card data -->

<!-- Open Graph data -->

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link
  href="https://fonts.googleapis.com/css?family=Muli:400,800&display=swap"
  rel="stylesheet"
/>
<link
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous"
/>

<%- include('./_styles.ejs', { css: css, env: env })%>

<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link
  rel="icon"
  type="image/png"
  href="https://neverthink.tv/assets/images/f6106f45afec54f293eb643861ad64cb3ec1f9fe5299a74ef95ee5b578beec8c.png"
/>

<!-- Third Party Javascript
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
