.DS_Store
npm-debug.log
yarn-error.log
.lock-wscript
*.swp
*.pid
*.seed
*.log
.sass-cache/
.git/
tmp/
log/
test/coverage/
test/results/
*.spec.*
*.test.*
node_modules/
public/
dist/
vm/
Dockerfile
Makefile
conf/secrets/decrypted/