@import '../../../../styles/variables.scss';

.TimePicker-container {
  &.TimePicker-container--noTime {
    .TimePicker-icon {
      color: $gray-600;
    }
  }

  .TimePicker-icon {
    color: $gray-900;
    height: initial;
    line-height: normal;
    padding: 10px;
    vertical-align: top;
    width: initial;
  }

  .TimePicker-input {
    border: none;
    color: $gray-900;
    font-weight: bold;
    padding: 0.5rem;

    &::placeholder {
      color: $gray-600;
    }

    &:active,
    &:focus,
    &:active:focus {
      outline: none;
    }
  }

  .TimePicker-popover {
    background-color: $white;
    height: 256px;
    margin-left: 5rem;
    overflow: hidden;
  }

  .TimePicker-listContainer {
    display: flex;
  }

  .TimePicker-timeList,
  .TimePicker-zoneList {
    height: 256px;
    overflow-x: hidden;
    overflow-y: scroll;

    .TimePicker-timeListItem,
    .TimePicker-zoneListItem {
      .TimePicker-time {
        border-radius: 0;
        font-weight: normal;
        height: initial;
        padding: 0.625rem;
        text-align: left;
        text-decoration: none;
        transition: background-color 150ms linear, border-color 150ms linear,
          color 150ms linear;
        width: 6.5rem;

        &:hover,
        &:focus {
          background-color: $gray-200;
          text-decoration: none;
        }

        &:active,
        &:active:focus {
          background-color: $gray-300;
          text-decoration: none;
        }

        &.active {
          background-color: $gray-900;
          color: $white;
          text-decoration: none;
        }
      }
    }

    .TimePicker-zoneListItem {
      .TimePicker-time {
        background-color: $gray-200;
        color: $gray-700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 17rem;
      }
    }
  }
}
