@import '../../../../styles//variables.scss';

.toggle-container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .toggle-input {
    cursor: pointer;
    position: relative;
    outline: none;

    .toggle-input-bg {
      background-color: $gray-200;
      border-radius: 50rem;
      height: 1.375rem;
      width: 2.5rem;
    }

    .toggle-input-handle {
      background-color: $gray-600;
      border-radius: 50%;
      height: 1rem;
      left: 0.1875rem;
      position: absolute;
      top: 0.1875rem;
      transform: translateX(0);
      transition: transform 150ms linear, background-color 150ms linear;
      width: 1rem;

      &.toggle-input-handle--enabled {
        background-color: $green;
        transform: translateX(1.125rem);
      }
    }

    &:focus,
    &:active,
    &:active:focus {
      outline: none;
    }
  }
}
