@import '../../../../styles/variables.scss';

.btn-icon {
  background-color: transparent;
  border-radius: 50%;
  color: $gray-400;
  height: 2rem;
  font-size: 1rem;
  line-height: 1;
  padding: 0;
  width: 2rem;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    color: $gray-100;
  }

  .loading-icon {
    height: 1rem;
    width: 1rem;
    vertical-align: bottom;
  }

  &.btn-sm {
    height: 1.5rem;
    font-size: 0.75rem;
    width: 1.5rem;

    .loading-icon {
      height: 0.75rem;
      width: 0.75rem;
    }
  }

  &.btn-lg {
    height: 2.5rem;
    font-size: 1.5rem;
    width: 2.5rem;

    .loading-icon {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
